<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-xs-12 btn-toolbar">
                    <button class="btn btn-primary" type="submit">{{ isNew ? 'Save' : 'Update' }}</button>
                    <button class="btn btn-danger" (click)="cancel()"> Cancel </button>
                </div>
            </div>
            <div class="row">
                <label for="name">Name</label>
                <input class="form-control" formControlName="name">
            </div>
            <div class="row">
                <label for="description">Description</label>
                <textarea class="form-control" formControlName="description"></textarea>
            </div>
            <div class="row">
                <label for="image">Image</label>
                <input class="form-control" formControlName="imagePath">
            </div>
            <div class="row">
                <img src="{{form.value['imagePath']}}" class="img-responsive" width="200" height="200">
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div class="row" *ngFor="let hobbyControl of controls; let i = index" [formGroupName]="i">
                        <div class="col-xs-8">
                            <input formControlName="name">
                        </div>
                        <div class="col-xs-8">
                            <input type="number" formControlName="amount">
                        </div>
                        <div>
                            <button type="button" class="btn"(click)="deleteIngredient(i)">X</button>
                        </div>
                    </div>
                    <hr>
                    <button type="button" (click)="addIngredient()">Add ingredient</button>
                </div>
            </div>
        </form>
    </div>
</div>